body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.btn {
  margin: 200px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: yellowgreen;
}

.btn:hover {
  background-color: rgb(228, 171, 17);
  transform: scale(1.1);
}

.hidden {
  visibility: hidden;
}
